.vcalendar-header {
	display: flex;
  align-items: center;
  justify-content: space-between;
	padding: 10px 0;
  font-weight: 500;
  text-transform: capitalize;
}
.vcalendar-arrow {
	font-size: 20px;
}
.vcalendar-header-row {
	display: flex;
}
.vcalendar-header-col {
	flex: 1;
  padding: 5px;
	border: 1px solid #ccc;
	border-right: none;
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  color: #777;
  background-color: #eee;
}
.vcalendar-header-col:first-child {
  border-top-left-radius: 4px;
}
.vcalendar-header-col:last-child {
  border-right: 1px solid #ccc;
  border-top-right-radius: 4px;
}
.vcalendar-body-row {
	display: flex;
}
.vcalendar-body-col {
  display: flex;
	flex-direction: column;
  flex: 1;
  height: 100px;
  padding: 5px;
	border: 1px solid #ccc;
	border-top: none;
	border-right: none;
	overflow: hidden;
  background-color: #fff;
  cursor: pointer;
}
.vcalendar-body-col:last-child {
	border-right: 1px solid #ccc;
}
.vcalendar-body-row:last-child .vcalendar-body-col:first-child {
  border-bottom-left-radius: 4px;
}
.vcalendar-body-row:last-child .vcalendar-body-col:last-child {
  border-bottom-right-radius: 4px;
}
.vcalendar-day {
	display: flex;
	height: 22px;
	font-size: 1em;
  color: #333;
}
.vcalendar-is-not-current-month-day {
	background-color: inherit;
}
.vcalendar-is-not-current-month-day .vcalendar-day {
	color: #ccc !important;
}
.vcalendar-weekend-day {
	background-color: #f9f9f9;
}
.vcalendar-today {
	background-color: #f0f8ff;
}
.vcalendar-event {
  display: flex;
  flex-direction: column;
  background-color: #dcdcdc;
  padding: 0px 3px;
	border-radius: 4px;
	margin-bottom: 2px;
	font-size: 12px;
	cursor: pointer;
}
.vcalendar-event:last-child {
	margin-bottom: 4px;
}
.vcalendar-util-truncate {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}














/*
 * New Style
 */
.veasycalendar-util-truncate {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.veasycalendar-util-small-text {
  font-size: 11px;
  color: #777;
  margin-bottom: 4px;
}
.veasycalendar-util-big-text {
  font-weight: 600;
  font-size: 16px;
  color: #585858;
}



.veasycalendar {}

.veasycalendar-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.veasycalendar-toolbar .veasycalendar-title {
  font-weight: 600;
  font-size: 20px;
  color: #585858;
}

.veasycalendar-header {
  display: flex;
}
.veasycalendar-header > .veasycalendar-header-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  /* border-top: none; */
  /* border-right: none; */
  /* border-left: none; */
}
.veasycalendar-header > .veasycalendar-header-col:last-child {
  /* border-right: 1px solid #ccc; */
}

.veasycalendar-header > .veasycalendar-header-col.veasycalendar-timezone {
  width: 55px;
  flex: 0 1 auto;
  justify-content: flex-end;
  padding: 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

.veasycalendar-body {
  display: flex;
}
.veasycalendar-body > .veasycalendar-body-col {
  flex: 1;
}
.veasycalendar-body > .veasycalendar-body-col:last-child {
  border-right: 1px solid #ccc;
}
.veasycalendar-body > .veasycalendar-body-col .veasycalendar-timeslot {
  height: 50px;
  border: 1px solid #ccc;
  border-top: none;
  border-right: none;
  padding: 2px;
  display: flex;
  position: relative;
}
.veasycalendar-body > .veasycalendar-body-col .veasycalendar-timeslot.veasycalendar-timeslot-data {
  overflow-y: visible;
}
.veasycalendar-body > .veasycalendar-body-col.veasycalendar-timezone {
  width: 55px;
  flex: 0 1 auto;
}
.veasycalendar-body > .veasycalendar-body-col.veasycalendar-timezone .veasycalendar-timeslot {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: none;
  /* border-bottom: 1px solid #ccc; */
}
.veasycalendar-body > .veasycalendar-body-col.veasycalendar-timezone .veasycalendar-timeslot > span {
  position: relative;
  top: -9px;
}
.veasycalendar-body>.veasycalendar-body-col.veasycalendar-timezone .veasycalendar-timeslot > span:after {
  content: '';
  width: 28px;
  height: 1px;
  background: #cccccc;
  position: absolute;
  top: 6px;
  margin-left: 5px;
  right: -32px;
}

.veasycalendar-timezone {
  flex-basis: 90px;
  flex: 0;
}


.veasycalendar-event {
  background-color: #609acc;
  color: #ffffff;
  padding: 0 5px;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid #2d6da4;
  margin-bottom: 2px;
  
  z-index: 1;
}

.veasycalendar-event:hover {
  z-index: 10;
  box-shadow: 1px 1px 3px 2px #e4e4e4;
  cursor: pointer;
}


.veasycalendar-footer {}

