.vcalendar-header {
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 10px 0;
	font-weight: 500;
}
.vcalendar-arrow {
	font-size: 20px;
}
.vcalendar-header-row {
	display: flex;
}
.vcalendar-header-col {
	flex: 1;
    padding: 5px;
	border: 1px solid #ccc;
	border-right: none;
	text-align: center;
}
.vcalendar-header-col:last-child {
	border-right: 1px solid #ccc;
}
.vcalendar-body-row {
	display: flex;
}
.vcalendar-body-col {
    display: flex;
	flex-direction: column;
	flex: 1;
    padding: 5px;
	border: 1px solid #ccc;
	border-top: none;
	border-right: none;
	height: 10rem;
	overflow: hidden;
	background-color: #fff;
}
.vcalendar-body-col:last-child {
	border-right: 1px solid #ccc;
}
.vcalendar-day {
	display: flex;
	height: 30px;
	font-size: 1em;
	color: #333;
}
.vcalendar-is-not-current-month-day {
	background-color: #f1f1f1 !important;
}
.vcalendar-is-not-current-month-day .vcalendar-day {
	color: #ccc !important;
}
.vcalendar-weekend-day {
	background-color: #f9f9f9;
}
.vcalendar-today {
	/* font-weight: 600; */
	background-color: #f0f8ff;
}
.vcalendar-event {
	display: flex;
    background-color: #dcdcdc;
    padding: 0px 3px;
	border-radius: 4px;
	margin-bottom: 2px;
	font-size: 12px;
	cursor: pointer;
    /* flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.vcalendar-event:last-child {
	margin-bottom: 4px;
}
.vcalendar-util-truncate {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}